<a href="https://colab.research.google.com/github/karbonatnatriya/lab_10/blob/main/lab_10week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kellygakii/student-data-csv")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'student-data-csv' dataset.
Path to dataset files: /kaggle/input/student-data-csv

In [2]:
!pip install -q pyspark

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Lab9") \
    .getOrCreate()

spark

In [5]:
import os

In [6]:
os.listdir(path)

['student-data.csv']

In [8]:
df = spark.read.csv("/kaggle/input/student-data-csv/student-data.csv", header=True, inferSchema=True)

In [9]:
df.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences|passed|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4|at_home| teacher|course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|    no|
|    GP|  F| 17|      U|    GT3|      T|   1|   1|at_home|   other|course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|    no|
|    GP|  F| 15|      U|    LE3|      T|   1|   1|at_home|   other| other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|   yes|
|    GP|  F| 15|      U|    GT3|      T|   4|   2| health|services|  home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2|   yes|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|  other|   other|  home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|   yes|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
only showing top 5 rows

In [10]:
df.printSchema()

root
 |-- school: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- famsize: string (nullable = true)
 |-- Pstatus: string (nullable = true)
 |-- Medu: integer (nullable = true)
 |-- Fedu: integer (nullable = true)
 |-- Mjob: string (nullable = true)
 |-- Fjob: string (nullable = true)
 |-- reason: string (nullable = true)
 |-- guardian: string (nullable = true)
 |-- traveltime: integer (nullable = true)
 |-- studytime: integer (nullable = true)
 |-- failures: integer (nullable = true)
 |-- schoolsup: string (nullable = true)
 |-- famsup: string (nullable = true)
 |-- paid: string (nullable = true)
 |-- activities: string (nullable = true)
 |-- nursery: string (nullable = true)
 |-- higher: string (nullable = true)
 |-- internet: string (nullable = true)
 |-- romantic: string (nullable = true)
 |-- famrel: integer (nullable = true)
 |-- freetime: integer (nullable = true)
 |-- goout: integer (nullable = true)
 |-- Dalc: integer (nullable = true)
 |-- Walc: integer (nullable = true)
 |-- health: integer (nullable = true)
 |-- absences: integer (nullable = true)
 |-- passed: string (nullable = true)

In [11]:
df.select("school", "age").show()

+------+---+
|school|age|
+------+---+
|    GP| 18|
|    GP| 17|
|    GP| 15|
|    GP| 15|
|    GP| 16|
|    GP| 16|
|    GP| 16|
|    GP| 17|
|    GP| 15|
|    GP| 15|
|    GP| 15|
|    GP| 15|
|    GP| 15|
|    GP| 15|
|    GP| 15|
|    GP| 16|
|    GP| 16|
|    GP| 16|
|    GP| 17|
|    GP| 16|
+------+---+
only showing top 20 rows

In [12]:
df.filter(df["age"] > 17).show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences|passed|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|    no|
|    GP|  F| 19|      U|    GT3|      T|   0|   1| at_home|   other|    course|   other|         1|        2|       3|       no|   yes|  no|        no|     no|    no|      no|      no|     3|       4|    2|   1|   1|     5|       2|    no|
|    GP|  M| 18|      R|    GT3|      T|   2|   2|services|   other|reputation|  mother|         1|        1|       2|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     4|       0|    no|
|    GP|  M| 18|      U|    LE3|      T|   1|   1|   other|   other|    course|  mother|         1|        1|       3|       no|    no|  no|        no|    yes|    no|     yes|     yes|     2|       3|    5|   2|   5|     4|       0|    no|
|    GP|  M| 19|      U|    GT3|      T|   3|   2|services| at_home|      home|  mother|         1|        1|       3|       no|   yes|  no|        no|    yes|    no|     yes|     yes|     4|       5|    4|   1|   1|     4|       0|    no|
|    GP|  F| 18|      R|    GT3|      T|   1|   1| at_home|   other|    course|  mother|         3|        1|       3|       no|   yes|  no|       yes|     no|   yes|      no|      no|     5|       2|    5|   1|   5|     4|       6|   yes|
|    GP|  F| 19|      U|    GT3|      T|   3|   3|   other|   other|reputation|   other|         1|        4|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   2|     3|      10|    no|
|    GP|  M| 18|      U|    GT3|      T|   2|   2|services|   other|      home|  mother|         1|        2|       1|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       4|    4|   2|   4|     5|      15|    no|
|    GP|  M| 18|      U|    LE3|      T|   3|   3|services|  health|      home|  father|         1|        2|       1|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       2|    4|   2|   4|     4|      13|    no|
|    GP|  M| 18|      U|    GT3|      T|   2|   2|   other|   other|      home|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   5|   5|     4|       0|   yes|
|    GP|  F| 18|      R|    GT3|      T|   3|   1|   other|   other|reputation|  mother|         1|        2|       1|       no|    no|  no|       yes|    yes|   yes|     yes|     yes|     5|       3|    3|   1|   1|     4|      16|    no|
|    GP|  M| 18|      U|    LE3|      T|   2|   1| at_home|   other|    course|  mother|         4|        2|       0|      yes|   yes| yes|       yes|    yes|   yes|     yes|     yes|     4|       3|    2|   4|   5|     3|      14|    no|
|    GP|  M| 18|      U|    GT3|      T|   2|   2|   other|services|reputation|  father|         1|        2|       1|       no|    no|  no|        no|    yes|    no|     yes|      no|     5|       5|    4|   3|   5|     2|       0|    no|
|    GP|  F| 18|      U|    GT3|      T|   2|   1|   other|   other|    course|   other|         2|        3|       0|       no|   yes| yes|        no|     no|   yes|     yes|     yes|     4|       4|    4|   1|   1|     3|       0|    no|
|    GP|  M| 22|      U|    GT3|      T|   3|   1|services|services|     other|  mother|         1|        1|       3|       no|    no|  no|        no|     no|    no|     yes|     yes|     5|       4|    5|   5|   5|     1|      16|    no|
|    GP|  M| 18|      R|    LE3|      T|   3|   3|   other|services|    course|  mother|         1|        2|       1|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       3|    3|   1|   3|     5|       8|    no|
|    GP|  M| 18|      U|    GT3|      T|   3|   2|services|   other|    course|  mother|         2|        1|       1|       no|    no|  no|        no|    yes|    no|     yes|      no|     4|       4|    5|   2|   4|     5|       0|    no|
|    GP|  M| 18|      U|    GT3|      T|   2|   1|services|services|     other|  mother|         1|        1|       1|       no|    no|  no|        no|     no|    no|     yes|      no|     3|       2|    5|   2|   5|     5|       4|    no|
|    GP|  M| 19|      U|    LE3|      A|   4|   3|services| at_home|reputation|  mother|         1|        2|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       3|    1|   1|   1|     1|      12|   yes|
|    GP|  M| 18|      U|    GT3|      T|   2|   1|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    4|   1|   2|     4|       8|   yes|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
only showing top 20 rows

In [13]:
df.where(df.age < 21).show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences|passed|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|    no|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|    no|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|   yes|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2|   yes|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|   yes|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10|   yes|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0|   yes|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|    no|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0|   yes|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0|   yes|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0|    no|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4|   yes|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2|   yes|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2|   yes|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0|   yes|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4|   yes|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6|   yes|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|   yes|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|    no|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|   yes|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
only showing top 20 rows

In [14]:
df.orderBy(df["absences"].desc()).show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences|passed|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
|    GP|  F| 18|      R|    GT3|      A|   3|   2|   other|services|      home|  mother|         2|        2|       0|       no|    no|  no|        no|     no|    no|     yes|     yes|     4|       1|    1|   1|   1|     5|      75|    no|
|    GP|  F| 17|      U|    LE3|      T|   3|   3|   other|   other|reputation|  mother|         1|        2|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|     yes|     5|       3|    3|   2|   3|     1|      56|    no|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|services|      home|  mother|         1|        2|       0|      yes|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   2|   4|     5|      54|   yes|
|    GP|  F| 19|      R|    GT3|      T|   2|   3|   other|   other|reputation|   other|         1|        3|       1|       no|    no|  no|        no|    yes|   yes|     yes|     yes|     4|       1|    2|   1|   1|     3|      40|   yes|
|    GP|  M| 19|      U|    GT3|      T|   4|   4| teacher|services|reputation|   other|         2|        1|       1|       no|   yes| yes|        no|    yes|   yes|     yes|     yes|     4|       3|    4|   1|   1|     4|      38|    no|
|    GP|  M| 17|      U|    LE3|      A|   4|   1|services|   other|      home|  mother|         2|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|     yes|     4|       5|    4|   2|   4|     5|      30|    no|
|    GP|  F| 17|      U|    GT3|      T|   3|   4| at_home|services|      home|  mother|         1|        3|       1|       no|   yes| yes|        no|    yes|   yes|     yes|     yes|     4|       4|    3|   3|   4|     5|      28|    no|
|    GP|  F| 15|      U|    GT3|      T|   3|   2|services|   other|      home|  mother|         2|        2|       0|      yes|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       3|    5|   1|   1|     2|      26|    no|
|    GP|  F| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         2|        2|       1|       no|   yes|  no|       yes|     no|   yes|     yes|     yes|     3|       3|    3|   1|   2|     3|      25|   yes|
|    GP|  F| 17|      U|    GT3|      T|   4|   4|services| teacher|      home|  mother|         2|        1|       1|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       2|    4|   2|   3|     2|      24|   yes|
|    GP|  F| 17|      U|    GT3|      A|   4|   3|services|services|    course|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|     yes|     5|       2|    2|   1|   2|     5|      23|   yes|
|    GP|  F| 17|      U|    GT3|      T|   4|   3|   other|   other|reputation|  mother|         1|        2|       2|       no|    no| yes|        no|    yes|   yes|     yes|     yes|     3|       4|    5|   2|   4|     1|      22|    no|
|    GP|  M| 18|      U|    GT3|      T|   4|   4| teacher|services|      home|  mother|         2|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    4|   1|   4|     3|      22|    no|
|    GP|  F| 19|      U|    LE3|      T|   3|   2|services|   other|reputation|   other|         2|        2|       1|       no|   yes| yes|        no|     no|   yes|     yes|     yes|     4|       2|    2|   1|   2|     1|      22|   yes|
|    GP|  F| 18|      U|    GT3|      T|   4|   3|services|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|     yes|     3|       1|    2|   1|   3|     2|      21|   yes|
|    GP|  F| 16|      U|    GT3|      T|   2|   1|   other|   other|      home|  mother|         1|        1|       0|       no|    no|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     5|      20|   yes|
|    GP|  M| 17|      R|    GT3|      T|   1|   3|   other|   other|    course|  father|         3|        2|       1|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    4|   1|   4|     5|      20|    no|
|    GP|  M| 19|      U|    GT3|      T|   3|   3|   other|   other|      home|   other|         1|        2|       1|       no|   yes|  no|       yes|    yes|   yes|     yes|     yes|     4|       4|    4|   1|   1|     3|      20|   yes|
|    GP|  F| 19|      U|    GT3|      T|   2|   1| at_home|   other|     other|   other|         3|        2|       0|       no|   yes|  no|        no|    yes|    no|     yes|     yes|     3|       4|    1|   1|   1|     2|      20|   yes|
|    GP|  M| 17|      U|    LE3|      A|   3|   2| teacher|services|      home|  mother|         1|        1|       1|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   3|   4|     3|      19|   yes|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+------+
only showing top 20 rows

In [17]:
df.describe().show()

+-------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------+
|summary|school| sex|               age|address|famsize|Pstatus|              Medu|              Fedu|   Mjob|   Fjob|    reason|guardian|        traveltime|         studytime|          failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|            famrel|          freetime|             goout|              Dalc|              Walc|            health|         absences|passed|
+-------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------+
|  count|   395| 395|               395|    395|    395|    395|               395|               395|    395|    395|       395|     395|               395|               395|               395|      395|   395| 395|       395|    395|   395|     395|     395|               395|               395|               395|               395|               395|               395|              395|   395|
|   mean|  NULL|NULL|16.696202531645568|   NULL|   NULL|   NULL| 2.749367088607595|2.5215189873417723|   NULL|   NULL|      NULL|    NULL|1.4481012658227848|2.0354430379746837|0.3341772151898734|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|3.9443037974683546|3.2354430379746835| 3.108860759493671| 1.481012658227848|2.2911392405063293|3.5544303797468353|5.708860759493671|  NULL|
| stddev|  NULL|NULL|1.2760427246056265|   NULL|   NULL|   NULL|1.0947351414285371|1.0882005458269433|   NULL|   NULL|      NULL|    NULL|0.6975047549086822|0.8392403464185556|0.7436509736062509|     NULL|  NULL|NULL|      NULL|   NULL|  NULL|    NULL|    NULL|0.8966586076885046|0.9988620396657203|1.1132781740183422|0.8907414280909668|1.2878965924510932|1.3903033913095773|8.003095687108182|  NULL|
|    min|    GP|   F|                15|      R|    GT3|      A|                 0|                 0|at_home|at_home|    course|  father|                 1|                 1|                 0|       no|    no|  no|        no|     no|    no|      no|      no|                 1|                 1|                 1|                 1|                 1|                 1|                0|    no|
|    max|    MS|   M|                22|      U|    LE3|      T|                 4|                 4|teacher|teacher|reputation|   other|                 4|                 4|                 3|      yes|   yes| yes|       yes|    yes|   yes|     yes|     yes|                 5|                 5|                 5|                 5|                 5|                 5|               75|   yes|
+-------+------+----+------------------+-------+-------+-------+------------------+------------------+-------+-------+----------+--------+------------------+------------------+------------------+---------+------+----+----------+-------+------+--------+--------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------+

# Сравнение PySpark и pandas

| Критерий | PySpark DataFrame | pandas DataFrame |
|----------|------------------|------------------|
| **Объём данных** | Работает с очень большими данными (гигабайты и терабайты) распределённо | Подходит только для данных, помещающихся в оперативную память |
| **Обработка** | Параллельная, распределённая обработка (кластер Spark) | Последовательная обработка на одной машине |
| **Скорость** | Высокая при больших объёмах данных | Быстрая при малых объёмах, но медленная при больших |
| **API и синтаксис** | Похож на pandas, но требует явного использования методов Spark (select, filter, orderBy) | Удобный синтаксис, простые операции с колонками |
| **Использование памяти** | Эффективно распределяет нагрузку между узлами | Загружает всё в память — может вызвать переполнение |
| **Установка и запуск** | Требует настройки SparkSession и среды (например, PySpark в Colab) | Достаточно установить pandas (`pip install pandas`) |
| **Сохранение данных** | Использует `df.write.csv()` — может записывать в распределённое хранилище | Использует `df.to_csv()` — сохраняет локально |
| **Применение** | Аналитика больших данных, распределённые вычисления, ETL-процессы | Малые и средние наборы данных, исследовательский анализ |

In [16]:
df.write.csv("/content/output1_students", header=True)